<div id="detail">
	<strong>{{path}}/{{name}}</strong>
	<a id="prev">prev</a>
	<a id="next">next</a>
	<div>
	<img id="photo_detail" style="height:auto; max-width:70%; align=center; valign=middle" src="../Photos/{{path}}/{{name}}">
	</div>
	<div id="caption">{{caption}}</div>
</div>